<div class="purchase__container">
  <h1 class="purchase__title">{{ title }}</h1>
  <div>
    <label for="prixInput">Prix :</label>
    <input id="prixInput" [(ngModel)]="prix" placeholder="Entrez le prix" />
  </div>

  <div>
    <label for="sommePayeeInput">Somme payée :</label>
    <input
      id="sommePayeeInput"
      [(ngModel)]="sommePayee"
      placeholder="Entrez la somme payée"
    />
  </div>

  <button (click)="calculerRemise()">Calculer la remise</button>

  <div *ngIf="remise > 0">
    <h3>Remise à rendre :</h3>
    <p *ngFor="let coupure of coupures">{{ coupure }}</p>
  </div>
</div>
